<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <ul class ="list-group">
      <li class="list-group-item list-group-item-info">Email : <%= @user.email%></li>
      <li class="list-group-item list-group-item-info">Address : <%= @user.address %></li>
      <li class="list-group-item list-group-item-info">Date Of Join : <%= @user.created_at %></li>
    </ul>
  </div>

  <div class="col-md-12">
    <h3>List course added</h3>
    <ul class="list-group">
      <% @course_list.each do |course| %>
        <li class="list-group-item list-group-item-info">
          <b>
            <%= link_to course.name, course_path(course) %>
          </b>
          </br>
          Status : <%= course.get_status(course) %>.
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      <% @activities.each do |activity| %>
        <li class="list-group-item list-group-item-info">
        <b>
          <%= activity.name %> about <%= time_ago_in_words(activity.created_at) %> ago.
        </b>
        </li>
      <% end %>
    </ul>
  </div>

</div>
